<mat-table [dataSource]="meterReadings">
  <ng-container matColumnDef="accountId">
    <mat-header-cell *matHeaderCellDef> Account Id </mat-header-cell>
    <mat-cell *matCellDef="let meterReading"> {{ meterReading.accountId }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="meterReadDateTime">
    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
    <mat-cell *matCellDef="let meterReading"> {{ meterReading.meterReadDateTime }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="meterReadValue">
    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
    <mat-cell *matCellDef="let meterReading"> {{ meterReading.meterReadValue }} </mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
</mat-table>