<mat-table [dataSource]="customerAccounts">
    <ng-container matColumnDef="accountId">
        <mat-header-cell *matHeaderCellDef> Account Id </mat-header-cell>
        <mat-cell *matCellDef="let customerAccount"> {{ customerAccount.accountId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let customerAccount"> {{ customerAccount.firstName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let customerAccount"> {{ customerAccount.lastName }} </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
</mat-table>