<mat-toolbar>
    <mat-toolbar-row>
        <span (click)="toggleCustomerAccountsList()">At a glance</span>
        <mat-icon>expand_more</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<table *ngIf="showCustomerAccounts">
    <thead>
        <th> Account Id </th>
        <th> First Name </th>
        <th> Last Name </th>
    </thead>
    <tbody>
        <tr *ngFor="let customerAccount of customerAccounts">
            <td> {{ customerAccount.accountId }}</td>
            <td> {{ customerAccount.firstName }}</td>
            <td> {{ customerAccount.lastName }}</td>
        </tr>
    </tbody>
</table>